<!DOCTYPE html>
<html>

<head>
  <title>The Wise Story</title>
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="SJFv3avO30itjskUTPng14YHeU5sMggC9TQTnFqUS1Y" />
  <meta name="description" content="Wise is a global SaaS company that aims to empower educational businesses and help them reach their true potential.">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.wise.live" />
  <meta property="og:title" content="The Wise Story" />
  <meta property="og:site_name" content="WISE" />
  <meta property="og:description"
    content="Wise is a global SaaS company that aims to empower educational businesses and help them reach their true potential." />
  <meta property="og:image" content="/img/og_logo.jpg" />
  <link rel="icon" href="https://cdn.wiseapp.live/images/wise_favicon.png" type="image/jpeg" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://use.typekit.net/sfk6hsd.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="css/variables.css" />
  <link rel="stylesheet" href="css/about-us.css" />
  <script async src="js/tracking.js"></script>
  <!-- Hotjar Tracking Code for https://web.wise.live -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 2946202, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCMMF3P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <section class="navigation">
    <div class="zoom-banner">
      <p>Zoom official APAC partner.</p>
      <a target="_blank" class="link" href="/zoom-partners.html">Learn More</a>
    </div>

    <div class="desktop-nav">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-2 logo">
            <a href="/">
              <img src="img/zoom-partners/wise_logo.svg" height="30" />
            </a>
          </div>
          <div class="col-md-10">
            <div class="menu">
              <a href="/#" class="active" class="analytics-link" data-event="Home Link"> Home </a>
              <a href="/pricing.html" class="analytics-link"> Pricing </a>
              <a href="/about-us.html" class="analytics-link"> About Us </a>
              <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown04">
                  <li><a class="dropdown-item" href="https://www.wise.live/blog/">Blogs</a></li>
                  <li><a class="dropdown-item" href="https://wiseapp.notion.site/New-Features-8d1ed3b2ba1c464fa2d832a47aa5dc12">New Features</a></li>
                  <li><a class="dropdown-item" href="https://wiseapp.notion.site/Wise-API-Documentation-a38e78c9a79d439ca7d13bae9d2d5582">API documentation</a></li>
                </ul>
              </li>
              <a href="https://web.wise.live/login" class="primary analytics-link" data-event="Login Link"> Login </a>
              <a href="/download" class="mbtn filled analytics-link" data-event="Get Started Button">
                Start your free trial
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="mobile_navigation">
      <div class="container">
        <div class="mrow">
          <div class="logo">
            <a href="/">
              <img src="https://cdn.wiseapp.live/images/wise_logo_full.png" />
            </a>
          </div>
          <div class="menu">
            <a href="https://web.wise.live/login" class="primary analytics-link" data-event="Login Link"> Login </a>
            <div class="icon" data-toggle="false">
              <div class="lines" onclick="open_menu()">
                <div class="yellow"></div>
                <div class="green"></div>
                <div class="purple"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="mobile_drawer">
      <div class="drawer">
        <div class="links">
          <div class="link">
            <div class="name">
              <a href="/" data-event="Home Link"> Home </a>
            </div>
          </div>
          <div class="link">
            <div class="name">
              <a href="/pricing.html" class="analytics-link" onclick="open_menu()">Pricing</a>
            </div>
          </div>
          <div class="link">
            <div class="name">
              <a href="/about-us.html" class="analytics-link" onclick="open_menu()">About Us</a>
            </div>
          </div>
          <li class="nav-item dropdown link">
            <a class="dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="https://www.wise.live/blog/">Blogs</a></li>
              <li><a class="dropdown-item" href="https://wiseapp.notion.site/New-Features-8d1ed3b2ba1c464fa2d832a47aa5dc12">New Features</a></li>
              <li><a class="dropdown-item" href="https://wiseapp.notion.site/Wise-API-Documentation-a38e78c9a79d439ca7d13bae9d2d5582">API documentation</a></li>
            </ul>
          </li>
          <div class="link">
            <a href="/download" class="mbtn filled analytics-link" data-event="Get Started Button">
              Start your free trial
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero">
    <div class="container">
      <h1 class="title">
        Powering the next wave of <br>
        <span>Online Education</span>
      </h1>

      <p class="description">
        Welcome to Wise, a community where teachers and EdTechs find easy solutions for their online operations.
        <br><br>
        We sincerely believe that technology shouldn’t hold back your educational institution. Our set of tools are intuitive, easy-to-use, and built to fit the needs of various institutions. Whether you’re a unicorn or an enterprise, our suite of tools can fit your needs at scale while providing support and opportunities for growth.
        <br><br>
        We know that the EdTech future is rapidly evolving, and digital businesses are growing at a rapid pace too. Against this backdrop, Wise comes with an aim to make running online education businesses <b>easier and simpler.</b>
        <br><br>
        <b>Wise is created by teachers, and perfected through tech</b>
      </p>
    </div>

    <img class="left-graphic" src="img/about/left-graphic.png" alt="Vector Graphic">
    <img class="right-graphic" src="img/about/right-graphic.png" alt="Vector Graphic">
  </section>

  <section class="vision">
    <div class="container">
      <div class="vision-container">
        <div class="vision-goal">
          <h3>Vision</h3>
          <p>Empowering the next generation of <br>
            Online Tutoring Businesses</p>
        </div>
        <img class="line" src="img/about/line.png" alt="Line Graphic">
        <img class="mobile-line" src="img/about/mobile-line.png" alt="Line Graphic">
        <div class="mission-goal">
          <h3>Mission</h3>
          <p>Democratize access to top-notch <br>
             tools for online education</p>
        </div>
      </div>
    </div>
  </section>

  <section class="founders">
    <div class="container">
      <h2 class="title">Meet the Founders</h2>
      <div class="founders-column mubeen-column">
        <div class="image-card">
          <img src="img/about/mubeen.png" alt="Mubeen Masudi">
          <div class="quote">
            <p>“I wanted to focus on what I loved the most - teaching”</p>
          </div>
        </div>
        <div class="content">
          <h3>Mubeen Masudi</h3>
          <p>Since 2012 I have taught Chemistry and Mathematics to high school students in the beautiful valley of Kashmir.
            <br><br>
            When I started teaching online I was thrilled to be able to reach out to a large and diverse set of students. However, I found it very complicated. Most of my time was spent juggling multiple tools.
            <br><br>
            I wanted to focus on what I loved the most - teaching.
            <br><br>
            I created Wise because I needed Wise. During the COVID lockdowns, my friends who were gym instructors, yoga trainers, and even spiritual leaders started using Wise. I realized these problems are not just mine. I set out to design Wise to be comprehensive yet intuitive so that instructors could pick it up from day one. As instructors started using Wise and growing their reach so did Wise.
            <br><br>
            Wise has transformed from a simple online teaching tool to a complete digital infrastructure for online education and training, thanks to the rich feedback we receive day in and day out from our users. As we continue to improve the platform, I feel privileged that Wise has played a role in the teaching and learning journeys of millions :)
          </p>
        </div>
      </div>

      <div class="founders-column bilal-column">
        <div class="image-card">
          <img src="img/about/bilal.png" alt="Bilal Abidi">
          <div class="quote">
            <p> “I believe empowering educators can bring the highest impact”</p>
          </div>
        </div>
        <div class="content">
          <h3>Bilal Abidi</h3>
          <p>Most of us have close family members working in the education sector. Having witnessed it first hand, I believe empowering educators can bring the highest impact in bringing access, affordability, and innovation to education and education delivery.
            <br><br>
            We have seen educators from all parts of the world expand their reach to thousands and even tens of thousands of students. Not only have existing teachers adopted technology through Wise, but an entirely new segment of digital native educators has also come alive.
            <br><br>
            The entire creator economy is essentially driven by these new-age educators. Our team has worked tirelessly to simplify the daily tasks and amplify the daily impact of an educator. This is an ever-evolving challenge and we can’t get enough of it.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="investors" class="investors">
    <div class="container">
      <h2 class="title">Wise is backed by successful builders and creators</h2>
      <p class="subtitle">Backed by founders of - Product Hunt, Plaid, Teachable, Rippling, Freckle Education & many more</p>
      <div class="investors-list">
        <div v-if="!showMore" class="investor" v-for="investor in investors.slice(0,10)" :key="investor.name">
          <img loading="lazy" :src="investor.image" :alt="investor.name">
          <h6>{{investor.name}}</h6>
          <p>{{investor.post}}</p>
        </div>
        <div v-if="showMore" class="investor" v-for="investor in investors" :key="investor.name">
          <img loading="lazy" :src="investor.image" :alt="investor.name">
          <h6>{{investor.name}}</h6>
          <p>{{investor.post}}</p>
        </div>
      </div>
      <p class="button" v-if="!showMore" @click="showMore = !showMore">View More</p>
    </div>
  </section>

  <section class="banner">
    <div class="container">
      <div class="banner-card">
        <h2 class="title">Try Wise for 30 days</h2>
        <p class="subtitle">No credit card required</p>
        <div class="perks">
          <div class="point">
            <img src="img/pricing/dark-check.svg" alt="Check Graphic">
            <p>Everything in Professional Plan</p>
          </div>
          <div class="point">
            <img src="img/pricing/dark-check.svg" alt="Check Graphic">
            <p>First 50GB of streaming free</p>
          </div>
        </div>
        <a href="/download"><button>Start your free trial</button></a>
        <img class="graphic rotate" src="img/pricing/100.svg" alt="Vector graphic">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <img loading="lazy" src="https://cdn.wiseapp.live/images/wise_logo_full.png" class="logo" />
          <p class="about">
            Wise App is a one stop solution for online teaching. Wise allows teachers to schedule and conduct live classes with a single click of a button. Additionally, teachers can collect fees, send assignments, conduct tests, facilitate discussions and share study material.
          </p>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="head">important links</div>
          <div class="link">
            <a href="/#"  class="analytics-link" data-event="Footer Home Link">Home</a>
            <a href="https://web.wise.live/" class="analytics-link" data-event="Footer Login Link">Login/Sign up</a>
            <a href="/pricing.html" class="analytics-link" data-event="Pricing">Pricing</a>
            <a href="/about-us.html" class="analytics-link"> About Us </a>
            <a href="/faq.html" class="analytics-link" data-event="FAQ Link">FAQ's</a>
            <a href="/terms-and-conditions.html" class="analytics-link" data-event="T&C Link">Terms & Conditions</a>
            <a href="/privacy-policy.html" class="analytics-link" data-event="Privacy Link">Privacy Policy</a>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="head">CONNECT WITH US</div>
          <div class="link">
            <a href="tel:+917831818181" class="analytics-link" data-event="Footer Mobile Contact">+91 7831818181</a>
            <a href="mailto:info@wiseapp.live" class="analytics-link" target="_blank" data-event="Footer Email Contact">info@wiseapp.live</a>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <div class="head dwnld">Download our apps</div>
          <div class="img">
            <a rel="nofollow" href="https://play.google.com/store/apps/details?id=com.wise.app" target="_blank"
              data-event="Footer Play Store" class="analytics-btn">
              <img loading="lazy" src="/img/homepage/google-play.png" />
            </a>
            <a rel="nofollow" href="https://apps.apple.com/app/id1525875644" target="_blank" data-event="Footer App Store"
              class="analytics-btn">
              <img loading="lazy" src="/img/homepage/app-store.png" />
            </a>
          </div>
          <div class="head social">We are social</div>
          <a rel="nofollow" href="https://www.facebook.com/wiseapplive" target="_blank">
            <img loading="lazy" src="/img/FB.svg" />
          </a>
          <a rel="nofollow" href="https://www.instagram.com/wiseapplive/" target="_blank">
            <img loading="lazy" src="/img/Instagram.svg" />
          </a>
          <a rel="nofollow" href="https://twitter.com/wiseapplive" target="_blank">
            <img loading="lazy" src="/img/Twitter (1).svg" />
          </a>
          <a rel="nofollow" href="https://www.linkedin.com/company/wiseapplive" target="_blank">
            <img loading="lazy" src="/img/logo_linkedin.png" height="22" width="22" />
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text-center copyright">
        © 2022 Wise Leap Technologies Pvt Ltd. All Rights Reserved.
      </div>
    </div>
    <img class="left" src="img/homepage/left-footer-graphic.png" alt="Footer Graphic">
    <img class="center-left" src="img/homepage/center-footer-graphic.png" alt="Footer Graphic">
    <img class="right" src="img/homepage/right-footer-graphic.png" alt="Footer Graphic">
    <img class="center-right" src="img/homepage/center-footer-graphic.png" alt="Footer Graphic">
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="./js/mobile_nav.js"></script>

<!-- Script for contact form -->
<script>
  function isNumeric(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode(key);
    var regex = /[0-9]|\.|\+|\-/;
    if (!regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }
</script>

<!-- Vue script for investors list -->
<script>
  new Vue({
    data: () => ({
      showMore: false,
      investors: [
       {image:'img/about/james-beshara.png', name:'James Beshara', post:'Founder, Tilt'},
       {image:'img/about/ryan-hoover.png', name:'Ryan Hoover', post:'Founder, Product Hunt'},
       {image:'img/about/william-hockey.png', name:'William Hockey', post:'Founder, Plaid'},
       {image:'img/about/nir-eyal.png', name:'Nir Eyal', post:'Author, Hooked & Indistractable'},
       {image:'img/about/ankur-nagpal.png', name:'Ankur Nagpal ', post:'Founder, Teachable'},
       {image:'img/about/andreas-klinger.png', name:'Andreas Klinger', post:'Remote First Capital'},
       {image:'img/about/austin-rief.png', name:'Austin Rief', post:'CEO, Morning Brew'},
       {image:'img/about/packy-mccormick.png', name:'Packy McCormick', post:'Founder, Not Boring'},
       {image:'img/about/shaan-puri.png', name:'Shaan Puri', post:'Chairman, The Milk Road'},
       {image:'img/about/prasanna-sankar.png', name:'Prasanna Sankar', post:'Co-founder, Rippling'},
       {image:'img/about/zach-goldstein.png', name:'Zach Goldstein', post:'Operator Partners'},
       {image:'img/about/moshe-lifschitz.png', name:'Moshe Lifschitz', post:'Shrug Capital'},
       {image:'img/about/sidharth-kakkar.png', name:'Sidharth Kakkar ', post:'Co-founder, Freckle Education'},
       {image:'img/about/mo-amdani.png', name:'Mo Amdani', post:'Adapt Ventures'},
       {image:'img/about/mekin-maheshwari.png', name:'Mekin Maheshwari', post:'Udhyam Learning Foundation'},
       {image:'img/about/hemant-bhardwaj.png', name:'Hemant Bhardwaj ', post:'Taurus Ventures'},
       {image:'img/about/niv-dror.png', name:'Niv Dror', post:'Shrug Capital'},
       {image:'img/about/jeremy-cai.png', name:'Jeremy Cai', post:'CEO, Italic'},
       {image:'img/about/rishabh-gupta.png', name:'Rishabh Gupta', post:'Core team member, Khatabook'},
       {image:'img/about/abhishek-hota.png', name:'Abhishek Hota', post:'Co-founder, Omah Ex-Oyo'},
      ]
     }),
  }).$mount('#investors');
</script>
