$primary: #6e2bfa;
$grey: #6b7280;
$secondary: #0a0045;

.hero {
  padding: 80px 0;
  a {
    color: $primary !important;
  }
  h1 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  h5 {
    scroll-margin-top: 100px;
  }
  h5:not(:first-child) {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
  }
  h6 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: $secondary;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  ul {
    margin-left: 35px;
    margin-bottom: 16px;

    li{
      font-size: 16px;
    }
  }
}

.boxed {
  position: sticky;
  top: 100px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  a {
    color: $grey !important;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e1e3e6;
    &:last-child {
      border-bottom: 0px solid #e1e3e6;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 40px 0;
    h1 {
      font-size: 30px;
    }
  }
  .boxed {
    margin-bottom: 30px;
  }
}
