@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

html, body {
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: inherit;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.primary {
  color: #622DF8;
}

.container {
  max-width: 1200px;
}
@media (max-width: 900px) {
  .container {
    padding: 0 16px;
  }
}

.mbtn {
  padding: 10px 24px;
  border-radius: 4px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #622DF8;
  transition: ease 0.5s;
}

.outlined {
  border: 1px solid #cccccc;
  background: transparent;
}
.outlined:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.filled {
  background-color: #622DF8;
  color: #ffffff;
  border: 1px solid #622DF8;
}
.filled:hover {
  color: #fff;
  background-color: #4411D4;
  border-color: #4411D4;
}

.nav-item.dropdown {
  list-style: none;
}
.nav-item.dropdown .dropdown-menu {
  margin-top: 10px !important;
  border: none !important;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.1);
}

.navigation {
  padding: 0;
  width: 100%;
  z-index: 1000;
}
.navigation .zoom-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #f45f2b;
  padding: 8px 0;
}
.navigation .zoom-banner p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
.navigation .zoom-banner .link {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  text-decoration: underline;
}
@media (max-width: 425px) {
  .navigation .zoom-banner {
    padding: 12px !important;
    font-size: 12px;
    gap: 12px;
    flex-direction: column;
  }
  .navigation .zoom-banner button {
    font-size: 12px;
  }
}
.navigation .desktop-nav {
  padding: 10px 0;
  background: linear-gradient(98.9deg, #ffffff 2.25%, rgba(255, 255, 255, 0.8) 98.74%);
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.04);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
.navigation .desktop-nav .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .navigation .desktop-nav {
    display: none;
  }
}
.navigation .mobile_navigation,
.navigation .mobile_drawer {
  display: none;
}
@media (max-width: 500px) {
  .navigation .mobile_navigation,
.navigation .mobile_drawer {
    display: block;
  }
}
@media (max-width: 500px) {
  .navigation .mobile_navigation {
    display: block;
  }
}
.navigation .mobile_navigation {
  position: relative;
  z-index: 99;
  background-color: #ffffff;
  padding: 10px 0;
  background: linear-gradient(98.9deg, #ffffff 2.25%, rgba(255, 255, 255, 0.8) 98.74%);
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.04);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
.navigation .mobile_navigation .mrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .mobile_navigation .mrow .logo {
  width: 30%;
}
.navigation .mobile_navigation .mrow .logo img {
  max-width: 110px;
}
.navigation .mobile_navigation .mrow .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.navigation .mobile_navigation .mrow .icon {
  width: 20%;
}
.navigation .mobile_navigation .mrow .lines {
  float: right;
  cursor: pointer;
}
.navigation .mobile_navigation .mrow .lines div {
  transition: 0.3s;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  position: relative;
  content: "";
  margin-bottom: 5px;
  display: block;
}
.navigation .mobile_navigation .mrow .lines .yellow {
  background: #939CB4;
}
.navigation .mobile_navigation .mrow .lines .green {
  background: #939CB4;
}
.navigation .mobile_navigation .mrow .lines .purple {
  background: #939CB4;
}
.navigation .mobile_drawer {
  display: block;
  background-color: #ffffff;
  width: 85%;
  height: 100vh;
  position: absolute;
  right: -95%;
  transition: 0.3s;
  box-shadow: -10px 14px 30px rgba(0, 0, 0, 0.1607843137);
  z-index: 9;
  top: 36px;
  overflow-x: hidden;
}
.navigation .mobile_drawer .drawer {
  font-size: 16px;
  padding: 90px 20px;
}
.navigation .mobile_drawer .drawer .links {
  margin-bottom: 20px;
}
.navigation .mobile_drawer .drawer .links .link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.navigation .mobile_drawer .drawer .links .link .icon {
  margin-right: 10px;
}
.navigation .mobile_drawer .drawer .links .link .name {
  margin-bottom: -5px;
}
.navigation .mobile_drawer .drawer .links .link .name .tag {
  background: #36cd74;
  font-size: 11px;
  padding: 2px 5px;
  color: #fff;
  top: -5px;
  text-align: center;
  position: relative;
  min-width: 50px;
}
.navigation .mobile_drawer .drawer .mbtn {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.navigation .mobile_drawer .drawer .line {
  margin: 40px 0 20px;
  height: 1px;
  margin-left: -10%;
  width: 115%;
  background: #e1e1e1;
}
.navigation .mobile_drawer .drawer .social {
  position: absolute;
  bottom: 8%;
}
.navigation .mobile_drawer .drawer .social img {
  margin-right: 10px;
}/*# sourceMappingURL=variables.css.map */